<div class="contacts ">
  <div class="contacts__head">
    <h2>
      <svg class="svg svg-head">
        <use xlink:href="assets/svg/allSvg.svg#icon-board"></use>
      </svg>
      Contacts
    </h2>
  </div>
  <div class="contacts__list">
    <ul *ngFor="let contact of Contacts; let i = index">
      <li (click)="openContact(contact.id)">
        <p>
          {{ i + 1 }}
          Name

          <span> {{ contact.name }} </span>
        </p>

        <P
          >Phone Number
          <span>
            {{ contact.phoneNumber }}
          </span>
        </P>
      </li>
    </ul>
  </div>
  <h3>Table</h3>
  <table style="width:100%">
    <tr>
      <td>Name</td>
      <td>Phone Number</td>
    </tr>
    <tr *ngFor="let v of Contacts">
      <td>{{ v.name }}</td>
      <td>{{ v.phoneNumber }}</td>
    </tr>
  </table>
</div>
