<header class="app-header">
  <h1>
    Phone Boook
  </h1>
  <nav>
    <ul>
      <li>
        <a href="">
          <svg class="side-nav__icon">
            <use xlink:href="assets/svg/allSvg.svg#icon-home"></use>
          </svg>
          Home
        </a>
      </li>
      <li>
        <a routerLink="newContact">
          <svg class="side-nav__icon">
            <use xlink:href="assets/svg/allSvg.svg#icon-user-plus"></use>
          </svg>
          New Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
